<a href="/recipes/<%= recipe.id %>" class='recipe'>
  <div class="recipe-container">
    <div class="recipe-name">
      <h4 class="recipe-title">
        <%= recipe.name.capitalize %>
      </h4>
      <p class="recipe-owner">
        By <%= recipe.user.name %>
      </p>
    </div>
    <div class="recipe-info">
      <p class="info-text">
        Total Food Items: <%= recipe.recipe_foods.count %>
      </p>
      <p class="info-text">
        Total Food Price: <%= 10 %>
      </p>
    </div>
  </div>
</a>
