<section class='foods-section'>
  <h2>Foods</h2>
  <div class='add-food-container'>
    <%= button_to "Add food", new_food_path, method: :get, class: 'add-food-btn'  %>
  </div>
  <div class='foods-container'>
    <table class='foods-table'>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= link_to "Delete", food, method: :delete, class: 'delete-food-btn'  %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
